<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jonathan.calculadora">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".actividadPrincipal">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".actividadSuma" />
        <activity android:name=".actividadResta" />
        <activity android:name=".actividadMultiplicacion" />
        <activity android:name=".actividadDivicion" />
        <activity android:name=".actividadPotencia" />
        <activity android:name=".actividadRaiz" />
    </application>

</manifest>